body,
html {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1050;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.navbar-toggler {
  border-color: white;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-link {
  position: relative;
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  color: #fff;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  transition: opacity 0.3s;
}

.large-logo {
  font-size: 2rem;
}

.small-logo {
  opacity: 0;
  font-size: 2rem;
}

.header-image {
  z-index: 1;
  width: 100%;
  display: flex;
}

.hero-logo-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 150px;
  font-weight: bold;
  color: white;
  margin: 0;
  z-index: 10;
  opacity: 1;
  transition: opacity 0.3s;
}

/* Scroll-state */
.scrolled {
  background-color: rgba(126, 28, 28, 0.8);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.scrolled .small-logo {
  opacity: 1;
}

.scrolled .large-logo {
  display: none;
}

.hero-logo-text.scrolled-out {
  opacity: 0;
  transition: opacity 0.3s;
}

.footer,
footer,
.footer li a {
  background-color: rgb(126, 28, 28);
  color: #fff;
  list-style: none;
}
@media (max-width: 768px) {
  .hero-logo-text {
    font-size: 60px;
  }

  .hero-header {
    position: relative;
    overflow: hidden;
  }

  .navbar {
    padding: 0.5rem 1rem;
  }
}
