.navbar {
  padding: 1.5rem 2rem;
  transition: all 0.5s ease;
  z-index: 999;
  width: 100%;
}
.navbar li a {
  color: #fff;
}
#logo {
  width: 50px;
  height: 50px;
}

.navbar.transparent {
  background-color: transparent;
}

.navbar.solid {
  background-color: #450514;
  opacity: 0.9;
  padding: 0.5rem 1.5rem;
}

#navbarExpanded {
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease;
}

#navbarCompact {
  display: none;
  transition: all 0.5s ease;
}

.navbar.scrolled #navbarExpanded {
  display: none;
}
.navbar.scrolled #navbarCompact {
  display: flex !important;
}

.search-form {
  border: 1px solid white;
  border-radius: 4px;
  padding: 2px 6px;
  max-width: 600px;
  width: 100%;
  position: relative;
}
.compact-form {
  max-width: 150px;
}

.search-input {
  background: transparent;
  border: none;
  color: white;
  outline: none;
  padding: 5px;
  font-family: inherit;
}

.search-input::placeholder {
  color: white;
  opacity: 1; /* Make sure it's fully visible */
}

.search-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
}

.nav-icon {
  width: 20px;
  height: 20px;
}

.login-btn {
  color: #fff;
  padding: 0.4rem 1rem;
  border-radius: 25px;
}

#navbarCompact .navbar-brand.small {
  font-size: 1.2rem;
  color: white;
}
.navbar-brand {
  color: #fff;
  font-size: xx-large;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 50px;
}

body {
  background-color: beige;
}

.footer,
footer,
.footer li a {
  background-color: #450514;
  color: #fff;
  list-style: none;
}

.img-fluid {
  display: flex;
}

.game-card {
  width: 100%;
  max-width: 26rem;
  border: none;
  background: none;
}

.game-image-container {
  overflow: hidden;
  border-radius: 15px;
}

.game-image-container img {
  width: 100%;
  transition: transform 0.5s ease;
  display: block;
  cursor: pointer;
}
.game-image-container:hover,
.game-image-container:hover img {
  transform: scale(1.05);
}

.game-info {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 0 5px;
  font-size: 1rem;
}

.game-title {
  font-weight: bold;
  text-align: left;
}

.game-price {
  color: #555;
  text-align: right;
  flex: 1;
}

.image-wrapper {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin-left: 4%;
}

.overlay-text {
  position: absolute;
  top: 10%;
  left: 80%;
  width: 100%;
  color: white;
  text-align: left;
  z-index: 10;
}

#DnD {
  background-color: #450514;
}
